node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Compiler files
cache/

# Hardhat files
artifacts
artifacts-selected

# Foundry files
out/
dist/
types/
cache_forge/
broadcast/

# Deployment log files
*-deploymentAllChains.log

/.DS_Store
.DS_Store

contracts/mock/*
script/deployMock.sol
